* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: hsl(257, 40%, 49%) url(../images/bg-desktop.svg) no-repeat;
    width: auto;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(0, 9%, 98%);
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.logo {
    margin-left: 20px;
    padding: 20px 0 0 30px;
}
.box {
    display: flex;
    width: 95%;
    height: 60%;
    margin: 1.8rem 1.8rem 1.8rem 2.5rem ;
}
.img-box {
    width: auto;
    height: auto;
}

.info-box {
    margin: 2.5rem 1.3rem 0 2.2rem;
    line-height: 30px;
    padding:1.6rem 1.6rem 0.6rem 1.5rem;
}
.info-box > h2 {
    line-height: 40px;
}
button {
    background-color: hsl(0, 9%, 98%);
    text-align: center;
    margin: 1rem 0;
    padding: 7px 0 5px 0;
    width: 10.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    height: 2.5rem;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 1px 2px 10px rgb(29, 28, 28);
    color: hsl(257, 40%, 49%);
}

button:hover {
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
    color: hsl(0, 9%, 98%);
}

.icons {
    width: 95%;
    margin-top: -25px;
    display: flex;
    justify-content: flex-end;
}

i {
    border: 1px solid;
    margin-right: 10px;
    text-align: center;
    padding-top: 7px;
    font-size: 75%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: hsl(0, 9%, 98%);
}
i:hover {
    color: hsl(300, 69%, 71%);
}


/* responsiveness: open to corrections */
@media only screen and (max-width: 600px) {
    body {
        background: hsl(257, 40%, 49%) url(../images/bg-mobile.svg) no-repeat;
        width: auto;
        height: 90vh;
    }
    .logo {
        margin: 0.6rem 0;
        padding: 0 2.5rem;
    }
    .logo img {
        max-width: 25%;
    }
    .box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 21rem;
        height: 60%;
    }
    img {
        max-width: 100%;
        height: auto;
     }
    .info-box {
        width: 100%;
        margin: 0;
        line-height: normal;
        text-align: center;
        padding: 2rem 0;
    }
    .info-box p {
        padding: 10px;
    }
    .icons {
        justify-content: center;
        margin-top: 0.5rem;
        padding-left: 2rem;
    }
}

.attribution { 
    font-size: 11px;
    text-align: center; 
    padding-top: 10px;
}
.attribution a { 
    color: hsl(300, 69%, 71%); 
}
